#temp_singleTime_chart1 {
    position: absolute;
    font-size:16px
}
.axis1st {
    font-size: 12px
}
#title {
    font-size: 20px
}
#chart-container {
    position:absolute;
    left:0px;
    display: block;
    width: 602px;
    height: 402px;
}